body {
 margin:0 ;
 font-size: 18px;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
 color: #ffffff;
}

p {
    margin:0;
    padding: 1em 2em;
}
h1, h2 {
    margin:0;
    padding: 0 1.5em;
}

main img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*  Header  */
header {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space between logo and nav */
    width: 100vw;
    background-color: #D6F0F0;
    padding-top: 1em;
}

header img{
    padding-left: 1em;
}

/*  Footer  */
footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    width: 100vw;
    padding-top: 49.87%;
}

/*  Nav  */
nav {
    padding-right: 1em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #4AB3C6;
}

nav a.active_page {
    color: #2F99AC; /* Highlight active page */
}


/*  Home  */
.home{
    background-color: #2F99AC;
}
.home main div:nth-of-type(1) {
    background-color: #86c9d4;
}

.home main section:nth-of-type(1) {
    background-color: #4AB3C6;
    padding: 1em 0;
}

.home main div:nth-of-type(2){
    background-image: url(../img/p-1_s-2.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;  /*img height*/
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center; 
}

.home main div:nth-of-type(2) img{
    background-color: lightgrey;
    justify-content: center;
    margin-left:5em;
}

.home main section:nth-of-type(2) {
    background-color: #2F99AC;
    padding-top: 1em;
    padding-bottom: 3em;
}

.home main div img{
    background-color: lightgrey;
    height: 233px;
    width: 217px;
}
.home main section img{
    background-color: lightgrey;
    height: 194px;
    width: 178px;
    margin-left: 2em;
}

/*  Recycle  */
.recycle{
    background-color: #1A6876;
}
.recycle main div:nth-of-type(1) {
    background-color: #86c9d4;
    padding-bottom: 1em;
}

.recycle main section:nth-of-type(1) {
    background-color: #4AB3C6;
    padding: 1em 0;
}

.recycle main div:nth-of-type(2){
    background-image: url(../img/p-2_s-2.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 256px;  /*img height*/
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center; 
}

.recycle main div:nth-of-type(2) img{
    background-color: lightgrey;
    justify-content: center;
    margin-left:5em;
}

.recycle main section:nth-of-type(2) {
    background-color: #2F99AC;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recycle main div img{
    background-color: lightgrey;
    height: 222px;
    width: 170px;
}

.recycle main section:nth-of-type(3) {
    background-color: #298899;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recycle main section:nth-of-type(4) {
    background-color: #1A6876;
    padding-top: 1em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.recycle main  a {
    display: inline-block; 
    padding: 1em 2.7em; 
    margin-top:2em;
    color: #13525E; 
    font-weight: bold;
    text-decoration: none; 
    background-image: url('../img/bottle_button.png'); 
    background-size: cover;
}


/*  Reuse  */
.reuse{
    background-color: #2F99AC;
}
.reuse main div img{
    background-color: lightgrey;
    height: 188px;
    width: 144px;
}
.reuse main div:nth-of-type(1) {
    background-color: #86c9d4;
}

.reuse main div:nth-of-type(2) {
    background-color: #4AB3C6;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}

.reuse main div:nth-of-type(3){
    background-image: url(../img/p-3_s-2.png);
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center; 
}

.reuse main div:nth-of-type(3) img{
    background-color: lightgrey;
    justify-content: center;
}

.reuse main div:nth-of-type(4) {
    background-color: #2F99AC;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 3em;
}

