body {
    margin: 0 ;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #ffffff;
}

p {
    margin: 0;
    padding: 1em 2em;
}

h1, h2 {
    margin: 0;
    padding: 0 1.5em;
}

main img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.first-paragraph{
    margin-top: 430px;
}


/*  Header  */
header {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space between logo and nav */
    width: 100vw;
    background-color: #D6F0F0;
    padding-top: 1em;
}

header img{
    padding-left: 1em;
}


/*  Footer  */
footer {
    /* Center content */
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    color: #13525E;
}

footer p{
    padding: 0.2em;
}

footer div {
    margin: 10px 0; /* Adds some spacing between the divs */
}


/*  Nav  */
nav {
    padding-right: 1em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #4AB3C6;
}

nav a:visited {
    color: #4AB3C6;
}

nav a.active_page {
    color: #2F99AC; /* Highlight active page */
}


/*  Home  */
.home{
    background-image: url(../img/background_home.png);
}

.img-paling{
    height: 233px;
    width: 217px;
    margin-left: 40%;
}

.content-plastic-in-lichaam{
    margin-top: 210px;
}

.content-plastic-schade{
    margin-top: 90px;
}

.img-vis-vast{
    height: 194px;
    width: 178px;
    margin-left: 2em;
}


/*  Recycle  */
.recycle{
    background-image: url(../img/background_recycle.png);
}

.content-op-land{
    margin-top: 170px;
}

.img-opruim-tools{
    height: 222px;
    width: 170px;
    margin-left: 40%;
}

.content-in-het-water{
    margin-top: 30px;
}

.content-microplastic{
    margin-top: 230px;
}

.call-to-action{
    margin-top: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button {
    display: inline-block; 
    padding: 1em 2.7em; 
    margin-top: 2em;
    color: #13525E; 
    font-weight: bold;
    text-decoration: none; 
    background-image: url('../img/bottle_button.png'); 
    background-size: cover;
    width: 5em;
    height: 1.7em;
    margin: 2em auto 0 auto
}

.button:visited {
    color: #13525E;
}

.button:active {
    transform: scale(0.80); /* Shrinks the button slightly */
}


/*  Reuse  */
.reuse{
    background-image: url(../img/background_reuse.png);
}

.first-paragraph-reuse{
    margin-top: 380px;
}

.content-recycle-process{
    margin-top: 140px;
    margin-bottom: 115px;
}
